html {
    height: 100%;
    width: 100%;
    background-image: url('/src/il_340x270.1209767028_llz2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    overflow: auto;
}
body {
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: whitesmoke;
    font-family: TradeGothic, sans-serif;
    margin-right: 105px;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 2%;
    display: block;
    position: absolute;
    overflow: auto;
}
#MainText {
    margin-right: 105px;
    padding: 1%;
    overflow: auto;
    position: absolute;
}
#MainText h1 {
    font-size: large;
    text-align: center;
}
#MainText h3 {
    font-size: medium;
    text-align: center;
}
#MainText h5 {
    font-size: small;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
}
#MainText p {
    font-size: small;
    text-align: left;
    padding-right: 20%;
    padding-left: 10%;
    margin-top: 0;
    margin-bottom: 5px;
}