.sidenav {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    height: 50px;
    z-index: 1;
    background-color: purple;
    text-align: left;
    display: table;
    border-radius: 15px;
}

    .sidenav a {
        display: table-cell;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: white;
        vertical-align: middle;
    }

        .sidenav a:hover {
            color: #818181;
            text-decoration: underline;
        }

